{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h3 align="center"> Note </h3>
<ul class="list-group list-group-flush">
    {% for note in user.notes %}
        <li class="list-group-item">
            {{note.data}}
            <button type="button" class="btn-close" onClick="deleteNote({{note.id}})"></button>
        </li>
    {% endfor %}

</ul>
<form method="post">
    <div class="mb-3">
        <textarea class="form-control" name="note" id="note" cols="30" rows="1"></textarea>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">
            Add note
        </button>
    </div>
</form>
{% endblock %}