{% extends "base.html" %}

{% block title %} Sign Up{% endblock %}

{% block content %}
<h3 align="center">Sign Up</h3>
<form method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="mb-3">
        <label for="user_name" class="form-label">User name</label>
        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Password (Confirm)</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
            placeholder="Confirm password">
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary" align="center">Submit</button>
    </div>
</form>

{% endblock %}